

@media only screen and (max-width: 375px) {
    
    #img{
        display: flex;
        justify-content: center;
        z-index: 1;
        margin-top: 15px;
        
    }

    #img2{
        margin-top: 0;
        z-index: -1;
    }
}