@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 375px) {


    body{
        font-family: 'Kumbh Sans';
        height: 110vh;
    }

    h1{
        text-align: center;
        margin-top: 100px;
        font-size: 30px;
    }

    .accordionbody{
        
    }
    
    .accordion{

        border: solid;
        width : 300px;
        margin: 10px auto;
        height: 610px;
        border-radius: 25px;
        margin-top: 130px;
        font-size: 12px;

    }

    .accordion .container{
        position: relative;
        margin: 19px 20px;

    }

    .label{
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }

    .label:focus{
        font-weight: 800;
    }

    hr{
        width: 260px;
        opacity: .3;
    }

    #container1{
        margin-top: 30px;
        
    }

    #image{

        border: solid ;
        z-index: 2;
    }

    #image-bg{
        margin: 10px auto;
        border: solid;
        z-index: 1;
    }

    

    
}